@import '@/shared/lib/styles/mixin.scss';

.servicePartners {
  background: #181818;
  padding: 16px;
  &__inner {
    padding: 160px 0;
    background: #0c0c0c;
    @include tablet {
      padding: 32px 0;
    }
  }
  &__content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    @include tablet {
      flex-direction: column;
    }
  }

  &__col1 {
    width: calc(50% - 24px);
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include tablet {
      position: relative;
      top: 0;
      width: 100%;
    }
    h2 {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    p {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__col2 {
    width: calc(50% - 24px);
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include tablet {
      width: 100%;
    }
    .servicePartners__item {
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      border: 1px solid #242424;
      h3 {
        color: #fff;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      h4 {
        color: #b6b6b6;
        margin: 12px 0 24px 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
