@import '@/shared/lib/styles/mixin.scss';

.contactWrap {
  padding: 165px 0;
  background: #0c0c0c;
  position: relative;
  @include tablet {
    padding: 0;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #181818;
    z-index: 0;
    @include tablet {
      display: none;
    }
  }
  &__body {
    display: flex;
    position: relative;
    z-index: 1;
    @include tablet {
      flex-direction: column;
    }
  }
  &__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include tablet {
      width: 100%;
      padding: 32px 0;
    }
    &:first-child {
      padding-right: 80px;
      @include tablet {
        padding-right: 0;
      }
    }
    &:last-child {
      padding-left: 80px;
      background: #181818;
      @include tablet {
        padding-left: 0;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &.contacts {
        display: flex;
        gap: 12px;
        flex-direction: row;
        @include tablet {
          flex-direction: column;
        }
        a {
          flex-grow: 1;
          display: flex;
          width: calc(50% - 6px);
          padding: 12px;
          align-items: center;
          gap: 8px;
          background: rgba(255, 255, 255, 0.05);
          color: #b6b6b6;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @include tablet {
            width: 100%;
          }
        }
      }

      &.title {
        margin-bottom: 48px;
      }
      h2 {
        color: #e79eff;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: #b6b6b6;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      h5 {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      > span {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      iframe {
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 200px;
        filter: invert(1) grayscale(1) contrast(0.9);
        @include tablet {
        }
      }
    }
  }
}

.contactText {
  padding: 165px 0;
  background: #0c0c0c;
  background: #121212;
  @include tablet {
    padding: 32px 0;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @include tablet {
      font-size: 32px;
      br {
        display: none;
      }
    }
  }
}
