@import '@/shared/lib/styles/mixin.scss';

.post {
  padding: 0 0 96px 0;
  background: #0c0c0c;
  @include tablet {
    padding: 40px 0;
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    @include tablet {
      height: 300px;
      background-size: cover;
      background-attachment: unset;
    }
  }

  &__buttons {
    display: flex;
    gap: 24px;
    @include tablet {
      flex-direction: column;
      a {
        width: 100%;
      }
    }
  }

  &__body {
    article {
      padding: 96px 0;
      @include tablet {
        padding: 32px 0;
      }
      h1 {
        color: #e79eff;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 1px solid #242424;
        margin-bottom: 48px;
        padding-bottom: 48px;
        @media (max-width: 992px) {
          font-size: 32px;
        }
      }
      > div {
        h2 {
          color: #fff;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 48px 0 24px 0;
          &:first-child {
            margin-top: 0;
          }
        }

        p {
          color: #b6b6b6;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 20px;
        }

        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }

        ul {
          list-style-type: disc;
          margin-left: 24px;
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;
          gap: 6px;
          li {
            color: #b6b6b6;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        ol {
          margin-bottom: 24px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          counter-reset: item;
          &:last-child {
            margin-bottom: 0;
          }
          & + ul {
            margin-top: -30px;
          }

          > li {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            padding-left: 24px;
            position: relative;
            list-style-type: none;
            &:has(ul) {
              &:before {
                transform: unset;
                top: -8px;
              }
            }
            span {
              color: #fff;
            }
            /*&::before {
              box-sizing: border-box;
              content: counter(item, upper-alpha);
              counter-increment: item;
              color: #fff;
              border-radius: 100px;
              background: #000;
              display: flex;
              width: 36px;
              height: 36px;
              padding: 6px 8px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              @media (max-width: 992px) {
                transform: unset;
                top: 0px;
              }
            }*/
            &::before {
              box-sizing: border-box;
              content: counter(item, upper-alpha) '.';
              counter-increment: item;
              color: #fff;
              left: 0;
              position: absolute;
              top: 0;
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              @media (max-width: 992px) {
                transform: unset;
                top: 0px;
              }
            }
            ul {
              margin-left: -36px;
              margin-top: 24px;
            }
          }
        }
      }
    }
  }
}
