@import '@/shared/lib/styles/mixin.scss';

.homeSecond {
  padding: 165px 0;
  background: #181818;
  @include tablet {
    padding: 32px 0;
  }
  .sliderInner {
    display: flex;
    gap: 64px;
    background: #181818;
    @include tablet {
      flex-direction: column;
    }
    .left {
      width: calc(50% - 32px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include tablet {
        width: 100%;
        height: 544px;
      }
      .number {
        display: flex;
        width: 48px;
        height: 48px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        aspect-ratio: 1/1;
        border-radius: 32px;
        background: #0c0c0c;
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 24px;
      }
      p {
        color: #fff;
        margin-bottom: 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
        li {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          padding-left: 18px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 10px;
            height: 7px;
            display: block;
            background-image: url('/images/home/list-white.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3 {
          color: #fff;
          margin-bottom: 24px;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @include tablet {
            font-size: 24px;
          }
        }
        h2 {
          color: #fff;
          margin-bottom: 24px;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          @include tablet {
            font-size: 24px;
          }
        }
      }
    }
    .right {
      width: calc(50% - 32px);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      @include tablet {
        width: 100%;
      }
      img {
        width: 100%;
        object-fit: cover;
        @include tablet {
          height: 358px;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        button {
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          &.next {
            background: #0c0c0c;
          }
          &.prev {
            background: #fff;
            svg {
              path {
                fill: black;
              }
            }
          }
        }
      }
    }
  }
}
