@import '@/shared/lib/styles/mixin.scss';

.ctaBlock {
  background-color: #0c0c0c;
  padding: 160px 0;
  position: relative;
  @include tablet {
    padding: 16px;
    background: #181818;
    > div {
      padding: 16px;
      background-color: #0c0c0c;
    }
  }

  &__buttons {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    justify-content: center;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    @include tablet {
      flex-direction: column;
      width: 100%;
    }
    a,
    button {
      box-sizing: border-box;
      @include tablet {
        width: 100%;
      }
    }
  }

  &__content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 80px;
    background-image: url('/images/news/cta-bg.png');
    @include tablet {
      padding: 24px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(12, 12, 12, 0.9);
      z-index: 1;
    }
    h2 {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: relative;
      z-index: 2;
    }
  }
}
