@import '@/shared/lib/styles/mixin.scss';

.targetPortfolio {
  background: #0c0c0c;
  padding: 165px 0;

  @include tablet {
    padding: 32px 0;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
  }
  h3 {
    color: #b6b6b6;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__row {
    margin: 48px 0 48px 0;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    @include tablet {
      //flex-direction: column;
      gap: 16px;
    }
    > div {
      width: calc(33.33% - 16px);
      flex-grow: 1;
      display: flex;
      padding: 24px;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      align-self: stretch;
      border: 1px solid #242424;
      @include tablet {
        width: 100%;
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 35%;
        p {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width: 100%;
          @include tablet {
            font-size: 14px;
          }
        }
        span {
          color: #fff;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 80%; /* 38.4px */
        }
      }
      p {
        width: 65%;
        color: #b6b6b6;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__note {
    color: #b6b6b6;
    text-align: right;
    margin-top: 48px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include tablet {
      text-align: center;
    }
  }

  img {
    object-fit: cover;
    @include tablet {
      width: 100%;
      height: 294px;
    }
  }
}
