@import '@/shared/lib/styles/mixin.scss';

.investorAccess {
  background: #181818;
  padding: 165px 0;
  @include tablet {
    padding: 32px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    gap: 64px;
    @include tablet {
      flex-direction: column;
    }
    .left {
      width: calc(50% - 32px);
      @include tablet {
        width: 100%;
      }
      h2 {
        color: #fff;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
      }
      p {
        color: #b6b6b6;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
      }
    }
    .right {
      width: calc(50% - 32px);
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      @include tablet {
        width: 100%;
      }
      img {
        object-fit: cover;
        @include tablet {
          width: 100%;
          height: 400px;
        }
      }
    }
  }
}
