@import '@/shared/lib/styles/mixin.scss';

.homeThird {
  background: #181818;
  padding: 16px;
  &__inner {
    background: #0c0c0c;
    padding: 165px 24px;

    @include tablet {
      padding: 56px 8px;
    }
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__row {
    margin: 48px 0 24px 0;
    display: flex;
    gap: 24px;
    @include tablet {
      flex-direction: column;
      gap: 16px;
    }
    > div {
      width: 33.33%;
      flex-grow: 1;
      display: flex;
      padding: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      border: 1px solid #242424;
      @include tablet {
        width: 100%;
      }
      p {
        color: #b6b6b6;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      span {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  img {
    object-fit: cover;
    @include tablet {
      width: 100%;
      height: 294px;
    }
  }
}
