@import '@/shared/lib/styles/mixin.scss';

.whySingapore {
  padding: 165px 0;
  background: #181818;
  @include tablet {
    padding: 32px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2 {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    p {
      color: #b6b6b6;
      text-align: center;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 650px;
      margin: 0 auto;
      @include tablet {
        max-width: 100%;
      }
    }
    h3 {
      color: #fff;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    img {
      display: block;
      margin-top: 24px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-self: stretch;
    @include tablet {
      flex-direction: column;
    }
  }

  &__item {
    width: calc(50% - 24px);
    padding: 20px;
    gap: 24px;
    border: 1px solid #242424;
    @include tablet {
      width: 100%;
    }
    span {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      b {
        font-weight: 700;
      }
    }
  }
}
